<h2>Coffee Index</h2>

<table>
<% @coffees.sort_by {|coffee| coffee.name}.each do |coffee| %>
    <tr><td><%= coffee_link(coffee) %></td><td>// <%= roaster_link(coffee.roaster) %></td></tr>
<% end %>
</table>
