<h2>Edit Cup</h2>

<%= form_for(@cup) do |f| %>

    <%= render partial: 'form', locals: {
            f: f,
            cup: @cup, 
            brews: @brews, 
            coffee: @coffee, 
            roasts: @roasts,
            roaster: @roaster,
            scale: @scale,
            rating: @rating
        } 
    %>

    <p><%= f.submit 'Update' %></p>
<% end %>
