<h1>Sip a Cup</h1>

<%= form_for(@cup) do |f| %>

    <%= render partial: 'form', locals: {
            f: f,
            cup: @cup, 
            brews: @brews, 
            coffee: @coffee, 
            roasts: @roasts, 
            rating: @rating,
            scale: @scale,
            roaster: @roaster
        } 
    %>

    <p><%= f.submit 'Sip' %></p>
<% end %>

<%= render partial: 'sessions/nav' %>
    






