<p>
<% if user.email.present? && user.errors.full_messages_for(:email).first.present? %>
    <%= f.label :email, user.errors.full_messages_for(:email).first %>
<% end %>
<%= f.email_field :email, placeholder: (user.errors.full_messages_for(:email).first || "Email") %>
</p>

<p><%= f.password_field :password, placeholder: (user.errors.full_messages_for(:password).first || "Password") %></p>