<h3>Cups you've sipped</h3>

<% if @cups.empty? %>
    You haven't sipped any cups of coffee yet!
    <p><%= new_cup_button %></p>
<% else %>
    <p><%= new_cup_button %></p>
    <ul>
    <%= render collection: @cups, partial: 'cup_li', as: :cup %>
    </ul>
<% end %>






