<h2>Cups you've sipped</h2>

<% if @cups.empty? %>
    You haven't sipped any cups of coffee yet!
    <p><%= new_cup_button %></p>
<% else %>
    <p><%= new_cup_button %></p>
    <ul>
    <% @cups.each do |cup| %>
        <%= render 'cup_li', {cup: cup} %>
    <% end %>
    </ul>
<% end %>


